---
title: 我的瀏覽器哪有這麼愛講話
---

<div class="container">
  <textarea name="content" id="speech-input" placeholder="在此輸入想朗讀的文字">鄭元暢叫正元唱鄭元暢的歌
李四端請李四端李四端的湯
邱議瑩叫邱毅吟邱議瑩的詩
白冰冰請白冰冰白冰冰的冰</textarea>

  <div class="speech-actions">
    <label>
      <i class="fa fa-fw fa-microphone icon-left"></i>
      <span class="sr-only">選擇語音</span>
      <select name="voice" id="voice-select" disabled>
        <option value="" placeholder>正在載入語音清單⋯⋯</option>
      </select>
      <i class="fa fa-fw fa-caret-down icon-right"></i>
    </label>

    <button type="button" id="speech-button">唸出來吧！</button>
  </div>
</div><!-- .welcome -->

<div class="compatibility-message">
  <p class="lead">
    您需要 Safari 7.1+、iOS 7.1+、Chrome 36+，並需啟用 JavaScript 才能正常使用本網頁。
  </p>
  <p>
    請參考 <a href="http://caniuse.com/#feat=speech-synthesis">Speech Synthesis API 支援表</a>
  </p>
</div>
