---
title: 我的瀏覽器哪有這麼愛講話
---

<div class="container">
  <textarea name="content" id="speech-input">鄭元暢叫正元唱鄭元暢的歌
李四端請李四端李四端的湯
邱議瑩叫邱毅吟邱議瑩的詩
白冰冰請白冰冰白冰冰的冰</textarea>

  <div class="speech-actions">
    <label>
      <i class="fa fa-fw fa-microphone icon-left"></i>
      <span class="sr-only">選擇語音</span>
      <select name="voice" id="voice-select" disabled>
        <option value="" placeholder>正在載入語音清單⋯⋯</option>
      </select>
      <i class="fa fa-fw fa-caret-down icon-right"></i>
    </label>

    <button type="button" id="speech-button">念出來吧！</button>
  </div>
</div><!-- .welcome -->
